
body {
    background-color: white;
}

h1 {
    color: navy;
    margin-left: 20px;
}

th, td {
    padding: 5px;
    text-align: left;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table#displayTable tr:nth-child(even) {
    background-color: #eee;
}

table#displayTable tr:nth-child(odd) {
   background-color:#fff;
}

table#displayTable th {
    background-color: black;
    color: white;
}


